extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | News
          small &nbsp;Find all News Papers here!
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='/location') The Times of India
            small &nbsp;
               
          
          p.address Indian’s National Newspaper Since 1878
          
        .col-xs-12.list-group-item
          h4
            a(href='/location') Hindustan Times
            small &nbsp;
               
         
          p.address The Name of India Trusts For News
           
        .col-xs-12.list-group-item
          h4
            a(href='/location') The Hindu
            small &nbsp;
               
      
          p.address All the News That's Fit to Print
           
    .col-xs-12.col-sm-4
      p.lead
        | Online newspapers, also known as digital newspapers or e-newspapers, are web-based versions of traditional print newspapers. They serve the same fundamental purpose as print newspapers—to inform readers about current events, news stories, features, and opinions on various topics, but they do so in a digital format accessible via computers, smartphones, tablets, and other connected devices.