extends layout

block content
  .row.page-header
    .col-lg-12
      h1 The Times of India 
  img.img-fluid(src='https://epaper.timesgroup.com/ETP-01.webp', alt='Image 1', style='margin: 10px; width: 1000px; height: 900px;')
 